body {
  background-image: radial-gradient(#000000, rgb(145, 174, 214));
  color: whitesmoke;
  font-size: 2em;
}

#apply-button,
#apply-button-2 {
  font-size: 1em;
  padding: 1px 20px;
}
#css-text {
  font-size: 1em;
  padding: 20px;
  width: 80%;
  height: auto;
  resize: vertical;
}
input[type="color"] {
  height: 80px;
  width: 120px;
}
