/* Dark Theme */
body {
    background-color: #111;
    color: #fff;
}

.box {
    position: relative;
    transform-style: preserve-3d;
    background-color: #333;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(2px,0px,-1px);
    clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,calc(0px - 2px) calc(0px - 0px),calc(0px - 2px) calc(100% - 0px - 0px),calc(100% - 2px - 0px) calc(100% - 0px - 0px),calc(100% - 2px - 0px) calc(0px - 0px),calc(0px - 2px) calc(0px - 0px));
    pointer-events: none;
}

/* Light Theme */
body.light {
    background-color: #eee;
    color: #222;
}

.box.light {
    background-color: #ccc;
}
